* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.btn-nav {
    padding: 1rem;
    font-size: 20px;
    background-color: transparent;
    transition: transform 0.3s;
    border: none;
}
  
.btn-nav.active {
    border-bottom: 2px solid black;
}
  
.btn-nav:hover {
    transform: translateY(-10%);
}

#content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem 0;
    padding: 2rem 1rem;
    margin: 2rem 10rem;
}

#content > h3 {
    font-size: 40px;
}

#content > .description {
    font-size: 30px;
    text-align: justify;
}

.img-container {
    position: relative;
    text-align: center;
}

.img-container > img {
    width: 450px;
    height: auto;
}

.img-container > .credit {
    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, 0);
    color: #f5f5f5;
}

.img-container > .credit > a {
    font-style: none;
    color: #f5f5f5;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

footer > div {
    display: flex;
    justify-content: center;
}